Repository llevintza/aws-fastify-prometheus: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "prettier --write",
    "eslint --fix"
  ],
  "*.{js,jsx}": [
    "prettier --write",
    "eslint --fix"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ]
}

feat: introduce Fastify Prometheus Metrics Plugin with AWS CloudWatch integration
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitignore
  .yarnrc.yml
  CHANGELOG.md
  CONTRIBUTING.md
  LICENSE
  README.md
  docs/DEVELOPMENT.md
  package.json
  src/fastify.d.ts
  src/index.ts
  src/plugin.ts
  src/types.ts
Due: prettier --write, eslint --fix

feat: add unit tests for Fastify Prometheus Plugin functionality
  tests/plugin.test.ts
Due: prettier --write, eslint --fix

feat: add advanced configuration example with custom metrics and AWS integration
  examples/advanced.ts
  examples/basic.ts
Due: prettier --write, eslint --fix

feat: update Node.js version to 22 and enable Corepack in CI and release workflows
  .github/workflows/ci.yml
  .node-version
  .nvmrc
  CONTRIBUTING.md
  README.md
  docs/DEVELOPMENT.md
  package.json
Due: prettier --write

Refactor code structure for improved readability and maintainability
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write

Implement code changes to enhance functionality and improve performance
  package.json
  yarn.lock
Due: prettier --write

Refactor code structure for improved readability and maintainability
  .eslintrc.js.backup
  package.json
  src/aws-metrics-exporter.ts
  src/index.ts
  src/interfaces.ts
  src/metrics-collector.ts
  src/plugin.ts
  src/prometheus-metrics.ts
  src/types.ts
  tests/plugin.test.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore: update ESLint and Jest configurations, enhance AWS metrics exporter, and improve metrics collector functionality
  .eslintrc.js
  jest.config.js
  src/aws-metrics-exporter.ts
  src/metrics-collector.ts
  src/plugin.ts
  src/prometheus-metrics.ts
  src/types.ts
  tests/plugin.test.ts
Due: prettier --write, eslint --fix

test: update Jest configuration and enhance plugin tests with registry management
  jest.config.js
  package.json
  tests/plugin.test.ts
Due: prettier --write, eslint --fix

chore: add @jest/globals dependency to yarn.lock
  yarn.lock
Due: none

chore: update ESLint configuration, enhance metrics exporter and collector, and improve test structure
  .eslintrc.js
  .eslintrc.js.backup
  .eslintrc.test.js
  .eslintrc.test2.js
  src/aws-metrics-exporter.ts
  src/metrics-collector.ts
  src/plugin.ts
  src/types.ts
  tests/plugin.test.ts
Due: prettier --write, eslint --fix

feat: update package name and configuration for GitHub Packages
  .github/workflows/ci.yml
  .npmrc
  .releaserc.js
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  docs/BRANCHING_STRATEGY.md
  docs/DEVELOPMENT.md
  package.json
Due: prettier --write, eslint --fix

chore: remove obsolete release workflow
  .github/workflows/release.yml
Due: prettier --write

feat: add fastify-prometheus-metrics workspace dependency and update configuration
  yarn.lock
Due: none

fix: update GitHub token reference in CI workflow
  .github/workflows/ci.yml
Due: prettier --write

chore(release): 1.0.0-alpha.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  8490a049d822903bb2cd2c029d7c0b4b9c36e361
Due: none

Feature/ci publish (#3)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .npmrc
  .releaserc.js
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  docs/BRANCHING_STRATEGY.md
  docs/DEVELOPMENT.md
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

Feature/ci publish (#3) (#4)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .npmrc
  .releaserc.js
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  docs/BRANCHING_STRATEGY.md
  docs/DEVELOPMENT.md
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

chore(release): 1.0.0-alpha.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  88e385a3ab6b49791aeec3e20832c0e3a69bc8a4
Due: none

fix: update GitHub Actions permissions and use GITHUB_TOKEN for package publishing
  .github/workflows/ci.yml
Due: prettier --write

chore(release): 1.0.0-alpha.3 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  1a77b04341fab324c2d45bb4d09410d5abf140df
Due: none

fix: update GitHub Actions to use GH_TOKEN instead of GITHUB_TOKEN
  .github/workflows/ci.yml
Due: prettier --write

Notes added by 'git notes add'
  bf770b24e8123ef28a144fdf4c7fa7ba97555328
Due: none

chore(release): 1.0.0-alpha.4 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

fix: update CI workflow to use classic PAT for npm publishing
  .github/workflows/ci.yml
Due: prettier --write

chore(release): 1.0.0-alpha.5 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  9101b8052f05143bf6104291caa8316a5819cae6
Due: none

chore(release): 1.0.0-alpha.6 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  20e22d4d0d58a0757d05bde245e696c4a9845db9
Due: none

fix: update package scope from @xoon to @llevintza and adjust related configurations
  .github/workflows/ci.yml
  .npmrc
  CHANGELOG.md
  README.md
  package.json
Due: prettier --write

fix: update package scope from @xoon to @llevintza in yarn.lock and add fastify-prometheus-metrics dependencies
  yarn.lock
Due: none

chore(release): 1.0.0-alpha.7 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  1ca2ac350e1f2f3b5ddcf4f47461cf4ee9330f1f
Due: none
