Repository llevintza/aws-fastify-prometheus: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "prettier --write",
    "eslint --fix"
  ],
  "*.{js,jsx}": [
    "prettier --write",
    "eslint --fix"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ]
}

chore(release): 1.0.0-alpha.8 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  7cd786ea255480009cf5c086624644a41af807d4
Due: none

chore(release): 1.0.0-alpha.6 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

fix: update GitHub Actions permissions and use GITHUB_TOKEN for package publishing
  .github/workflows/ci.yml
Due: prettier --write

fix: update GitHub Actions to use GH_TOKEN instead of GITHUB_TOKEN
  .github/workflows/ci.yml
Due: prettier --write

chore(release): 1.0.0-alpha.5 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

chore(release): 1.0.0-alpha.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

fix: update GitHub token reference in CI workflow
  .github/workflows/ci.yml
Due: prettier --write

chore(release): 1.0.0-alpha.1 [skip ci]
  package.json
Due: prettier --write

fix: update CI workflow to use classic PAT for npm publishing
  .github/workflows/ci.yml
Due: prettier --write

fix: update package scope from @xoon to @llevintza and adjust related configurations
  .github/workflows/ci.yml
  .npmrc
  CHANGELOG.md
  README.md
  package.json
Due: prettier --write

chore(release): 1.0.0-alpha.7 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

chore(release): 1.0.0-alpha.3 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

chore(release): 1.0.0-alpha.4 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

feat: update package name and configuration for GitHub Packages
  .github/workflows/ci.yml
  package.json
Due: prettier --write

fix: update package scope from @xoon to @llevintza in yarn.lock and add fastify-prometheus-metrics dependencies
  yarn.lock
Due: none

Feature/ci publish (#5)
  .github/workflows/ci.yml
  .npmrc
  CHANGELOG.md
  README.md
  package.json
  yarn.lock
Due: prettier --write

Feature/ci publish (#5) (#6)
  .github/workflows/ci.yml
  .npmrc
  CHANGELOG.md
  README.md
  package.json
  yarn.lock
Due: prettier --write

feat: add hotfix and release branch configurations to .releaserc.js
  .releaserc.js
Due: prettier --write, eslint --fix

feat: update release branch configurations in .releaserc.js
  .releaserc.js
Due: prettier --write, eslint --fix

chore(release): 1.0.0-rc.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  83d00e0af3db985ef3016e9f9e9848d3d5c71b1e
Due: none

chore(release): 1.0.0-beta.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  668adf13b3b3ec688fd869ea5f293235ac19dffd
Due: none

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  99abd8411f29dea54ab730fd9980694db71630dd
Due: none

chore: update project references and documentation for @llevintza scope
  .releaserc.js
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  docs/BRANCHING_STRATEGY.md
  docs/DEVELOPMENT.md
  docs/RELEASE_GUIDE.md
Due: prettier --write, eslint --fix

chore(release): 1.0.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  c59a7b3d4708c785acf8f893175d74dfa4599865
Due: none

docs: update badge links in README.md for GitHub Package Registry
  README.md
Due: prettier --write

feat: Add comprehensive CI/CD workflows and documentation
  .github/WORKFLOWS_SUMMARY.md
  .github/dependabot.yml
  .github/pull_request_template.md
  .github/workflows/ci.yml
  .github/workflows/code-quality.yml
  .github/workflows/dependency-check.yml
  .github/workflows/security.yml
Due: prettier --write

fix: update npm audit step to conditionally run based on lockfile presence
  .github/workflows/security.yml
Due: prettier --write
